<div class="container mt-2">
  <div class="row">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Registra y envia tú pedido!</mat-card-title>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <mat-card class="rounded">
        <div class="alert alert-success" role="alert" *ngIf="addProduct">
          Bien acabas de agregar un producto!.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errors.length != 0">
          <p *ngFor="let error of errors">
            <strong>- {{ error }} </strong>
          </p>
        </div>
        <mat-card-content>
          <app-form-order
            (sendDetail)="receivedDetail($event)"
          ></app-form-order>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="container mt-2 mb-5 pb-5">
  <div class="row">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Detalle de tú pedido!</mat-card-title>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert" *ngIf="registerSuccess">
        Registro exitoso!.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errors.length != 0">
        <p *ngFor="let error of errors">
          <strong>- {{ error }} </strong>
        </p>
      </div>
      <app-table-order
        [detail]="detail"
        (deleteDetail)="deleteDetail($event)"
        (sendRequestSave)="saveOrder($event)"
      ></app-table-order>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0,25,92,0.8)"
  color="#fff"
  type="ball-clip-rotate-multiple"
  zIndex="300"
>
  <p class="loading">Creando solicitud...</p>
</ngx-spinner>
