<ngx-skeleton-loader
  count="1"
  appearance="line"
  [theme]="{
    width: '80%'
  }"
></ngx-skeleton-loader>
<ngx-skeleton-loader
  count="8"
  appearance="circle"
  [theme]="{
    width: '20%',
    height: '80px',
    'border-radius': '10px',
    margin: '0 5px'
  }"
></ngx-skeleton-loader>
<ngx-skeleton-loader
  count="1"
  appearance="line"
  [theme]="{
    width: '80%',
    'margin-top': '10px'
  }"
></ngx-skeleton-loader>
<ngx-skeleton-loader
  count="8"
  appearance="circle"
  [theme]="{
    width: '20%',
    height: '80px',
    'border-radius': '10px',
    margin: '0 5px'
  }"
></ngx-skeleton-loader>
