.background__image {
  background-image: url("/assets/img/login-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #eee;
}

.font-green1-dark {
  color: #8cc152 !important;
}
