<div class="container-fluid h-100">
  <div
    class="row h-100 justify-content-center align-items-center background__image"
  >
    <div class="col-md-6 col-lg-6 ml-auto mr-auto">
      <mat-card class="rounded shadow-sm">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center mb-0 font-28">Bienvenido</h1>
            <p
              class="text-center mt-0 font-weight-bold font-14 color-highlight"
            >
              Vamos a iniciar sesión!
            </p>
          </div>
        </div>

        <mat-card-content>
          <div class="alert alert-success" role="alert" *ngIf="registerSuccess">
            Registro exitoso!.
            <a (click)="registerChange()" class="alert-link"
              >Inicia sesión aquí!</a
            >
          </div>
          <div class="alert alert-success" role="alert" *ngIf="loginSuccess">
            Genia! serás redirigido en unos segundos.
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="errors.length != 0"
          >
            <p *ngFor="let error of errors">
              <strong>- {{ error }} </strong>
            </p>
          </div>
          <app-login (sendUser)="loginApi($event)" *ngIf="login"></app-login>
          <app-register
            (sendUser)="registerUser($event)"
            *ngIf="!login"
          ></app-register>
        </mat-card-content>

        <mat-card-actions class="text-center">
          <div class="row">
            <div class="col-12 col-lg-6" *ngIf="!login">
              <button
                mat-button
                class="font-green1-dark btn-block"
                (click)="login = true"
              >
                ¿Ya estás registrado?
              </button>
            </div>
            <div class="col-12 col-lg-6" *ngIf="login">
              <button
                mat-button
                class="font-green1-dark btn-block"
                (click)="login = false"
              >
                Crea una cuenta!
              </button>
            </div>
            <div class="col-12 col-lg-6">
              <button mat-button class="font-green1-dark btn-block">
                ¿Se te olvidó tu contraseña?
              </button>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(140,193,82,0.8)"
  color="#fff"
  type="ball-clip-rotate-multiple"
>
  <p class="loading">Cargando...</p>
</ngx-spinner>
