<form [formGroup]="form">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Producto*</mat-label>
    <input
      matInput
      type="text"
      id="product"
      placeholder="Producto: arroz, carne..."
      formControlName="product"
    />
    <mat-error *ngIf="productField.errors && productField.dirty">
      <p *ngIf="productField.hasError('required')">
        El campo es requerido
      </p>
    </mat-error>
    <mat-icon matSuffix>shopping_cart</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Cantidad*</mat-label>
    <input
      matInput
      type="text"
      id="amount"
      [placeholder]="
        showAmount
          ? 'Digite x peso: 10 kg,20 lb,5 ltr'
          : 'Digite x precio: $5.000, $10.000'
      "
      formControlName="amount"
    />
    <mat-error *ngIf="amountField.errors && amountField.dirty">
      <p *ngIf="amountField.hasError('required')">
        El campo es requerido
      </p>
      <p *ngIf="amountField.hasError('min')">
        Se requiere como minimo 1 cantidad
      </p>
      <p *ngIf="amountField.hasError('pattern')">
        Este campo es númerico
      </p>
    </mat-error>
    <mat-icon matSuffix>bubble_chart</mat-icon>
  </mat-form-field>
  <mat-slide-toggle (click)="showFieldMeasure()">
    <span *ngIf="showAmount">x PRECIO</span>
    <span *ngIf="!showAmount">x CANTIDAD</span>
  </mat-slide-toggle>
  <mat-form-field *ngIf="showAmount" class="w-100" appearance="outline">
    <mat-label>Medida</mat-label>
    <input
      matInput
      type="text"
      id="measure"
      placeholder="Kg, Libra, Litro.."
      formControlName="measure"
    />
    <mat-error *ngIf="measureField.errors && measureField.dirty">
      <p *ngIf="measureField.hasError('required')">
        El campo es requerido
      </p>
    </mat-error>
    <mat-icon matSuffix>attach_money</mat-icon>
  </mat-form-field>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Marca</mat-label>
    <input
      matInput
      type="text"
      id="brand"
      placeholder="Marca de tu producto de preferencia (opcional)"
      formControlName="brand"
    />
    <mat-icon matSuffix>layers</mat-icon>
  </mat-form-field>
  <button
    mat-raised-button
    class="btn-block bg-green1-dark mt-2"
    (click)="addProducts()"
    [disabled]="form.invalid"
  >
    Agregar producto
  </button>
</form>
