<mat-card>
  <mat-card-content>
    <div class="image text-center">
      <img
        [alt]="shopper.perfil"
        [defaultImage]="spinner"
        [lazyLoad]="url"
        class="img-fluid rounded-circle"
      />
    </div>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <strong>
          Domicilio principal:
        </strong>
        {{ shopper.domicilio }}</mat-list-item
      >
      <mat-list-item role="listitem"
        >Domicilios opcionales: {{ shopper.domicilio_dos }} -
        {{ shopper.domicilio_tres }}</mat-list-item
      >
    </mat-list>

    <button
      mat-raised-button
      class="bg-primary-color"
      routerLink="/shopper/home"
    >
      Crear mi pedido
    </button>
  </mat-card-content>
</mat-card>
