a {
  text-decoration: none !important;
}

.button__third {
  background-color: #6a2c70;
  color: #fff;
}

.button__menu {
  margin-top: 15px;
  color: white;
}

.img__brand {
  margin-top: 15px;
}

.sidenav__container {
  left: 0 !important;
  width: 25%;
}

.sidenav-container {
  height: 100%;
}

.main {
  position: relative;
  background-color: var(--primary-color);
  height: 300px;
  width: 100%;
}

.shopper__footer {
  position: fixed;
  bottom: 0;
  background-color: var(--primary-color);
  width: 100%;
  z-index: 100;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f2f2f4;
}

.waves__footer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2f2f4;
}

.footer__item {
  display: flex;
  color: var(--black-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.active {
    color: var(--primary-color);
  }
}

.w1 {
  fill: #00195c;
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main {
    height: 200px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .main {
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    height: 150px;
  }

  .sidenav__container {
    width: 50%;
  }

  .enable {
    display: none !important;
  }
}
