<div class="container mt-2 mb-5 pb-5">
  <div class="row">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>crea una oferta!</mat-card-title>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row" *ngIf="order">
        <div class="col-12 mt-2 mb-2 rounded pt-3 pb-3">
          <mat-card>
            <form [formGroup]="form">
              <div class="table-responsive">
                <table class="table table-hover mat-elevation-z8">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" style="width: 50%;">Detalle</th>
                      <th scope="col" style="width: 25%;">Precio</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of order.details; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        {{ item.product }} x {{ item.amount }}
                        {{ item.measure }}
                        {{ item.brand }}
                      </td>
                      <td>
                        <div formArrayName="prices">

                        </div>
                        <mat-form-field
                          class="example-full-width"
                          appearance="outline"
                        >
                          <mat-label>precio</mat-label>

                          <input
                            class="input__price"
                            matInput
                            placeholder="$5000"
                            value="0"
                            [formControlName]="i"
                          />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr class="text-center">
                      <td colspan="3">Total: $10.000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </mat-card>
        </div>
        <div class="col-12 text-center">
          <button
            mat-raised-button
            class="bg-primary-color"
            (click)="showPrices()"
          >
            Crear oferta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0,25,92,0.8)"
  color="#fff"
  type="ball-clip-rotate-multiple"
  zIndex="300"
>
  <p class="loading">Cargando solicitud...</p>
</ngx-spinner>
