<div class="container mt-2 mb-5 pb-5">
  <div class="row">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Nota!</mat-card-title>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-info" role="alert">
        Si no aparece el peso del producto considere el producto por venta en
        términos de precio
        <strong>Ej: $5000 de pechuga</strong>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Crea una oferta!</mat-card-title>
    </div>
  </div>
  <div class="row" *ngIf="order">
    <div class="col-12 mt-2 mb-2 rounded pt-3 pb-3">
      <form [formGroup]="form">
        <div formArrayName="details">
          <mat-accordion multi>
            <mat-expansion-panel
              *ngFor="let item of details.controls; index as i"
              [formGroupName]="i"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ i + 1 }}.) {{ item.value.product }}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <strong>Cantidad: {{ item.value.amount }}</strong
              ><br />
              <strong
                >Peso:
                {{
                  item.value.measure ? item.value.measure : "xPrecio"
                }}</strong
              ><br />
              <strong
                >Marca:
                {{ item.value.brand ? item.value.brand : "No fijado" }}</strong
              ><br />

              <div class="row mt-2">
                <div class="col-12">
                  <input formControlName="id" type="hidden" /><input
                    formControlName="product"
                    type="hidden"
                  />
                  <input formControlName="amount" type="hidden" />
                  <input formControlName="measure" type="hidden" />
                  <input formControlName="brand" type="hidden" />
                  <label>Precio unitario</label>
                  <div class="col-6 mb-1">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="price"
                    />
                  </div>
                  <div class="col-6" *ngIf="item.dirty">
                    Subtotal
                    <strong>
                      {{
                        sumTotal(
                          item.value.measure,
                          item.value.amount,
                          item.value.price
                        ) | currency
                      }}
                    </strong>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </form>
    </div>
    <div class="col-12 text-center">
      <div class="alert alert-success" role="alert" *ngIf="registerSuccess">
        Oferta generada con exito!.
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errors.length != 0">
        <p *ngFor="let error of errors">
          <strong>- {{ error }} </strong>
        </p>
      </div>
      <button
        mat-raised-button
        class="bg-primary-color mt-2"
        (click)="confirmOrder()"
      >
        Crear oferta
      </button>
    </div>
  </div>
</div>

<button
  mat-raised-button
  class="bg-primary-color button__total"
  (click)="showTotal()"
>
  Ver total: {{ orderTotal | currency }}
</button>

<ngx-spinner
  bdColor="rgba(0,25,92,0.8)"
  color="#fff"
  type="ball-clip-rotate-multiple"
  zIndex="300"
>
  <p class="loading">Cargando solicitud...</p>
</ngx-spinner>
