<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center background__image">
    <div class="col-md-6 col-lg-6 ml-auto mr-auto">
      <div class="card rounded shadow-sm">
        <div class="card-body">
          <h1 class="top-70 fa-6x text-center mb-2">404</h1>
          <p class="color-highlight top-15 font-weight-bold text-center">
            Creemos que te perdiste
          </p>
          <p class="boxed-text-large top-30 bottom-30">
            Llegaste a una página que no existe.<br />
            ¿Qué te parece volver?
          </p>
          <a
            href="#"
            class="btn button button-m button-center-small bg-highlight shadow-huge round-small bottom-50"
            >Regresar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
