.fa-6x {
  font-size: 8em;
  padding-bottom: 10px;
}

.top-70 {
  margin-top: 70px !important;
}

.top-15 {
  margin-top: 15px !important;
}

.color-highlight {
  color: #4a89dc !important;
}

.bottom-30 {
  margin-bottom: 30px !important;
}

.bottom-50 {
  margin-bottom: 50px !important;
}

.top-30 {
  margin-top: 30px !important;
}

.bg-highlight {
  background-color: #4a89dc !important;
}

.button-center-small {
  width: 150px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.boxed-text-large {
  width: 85%;
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-m {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
}

.background__image {
  background-image: url("/assets/img/not-found.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #eee;
}
