<div class="container mt-3 mb-5 pb-5">
  <div class="row"  *ngIf="profile">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Por favor termina de registrar tú perfil!</mat-card-title>
    </div>
  </div>

  <div class="row"  *ngIf="!profile">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Mi Perfil!</mat-card-title>
    </div>
  </div>


  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <mat-card class="mat-elevation-z8">
        <mat-card-content>
          <div class="alert alert-success" role="alert" *ngIf="shopperSuccess">
            {{ success }}
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="errors.length != 0"
          >
            <p *ngFor="let error of errors">
              <strong>- {{ error }} </strong>
            </p>
          </div>
          <app-profile [shopper]="infoShopper" *ngIf="!profile"></app-profile>
          <app-create-profile
            *ngIf="profile"
            (sendFormData)="saveShopper($event)"
            [municipalities]="municipalities"
            [user]="user"
          ></app-create-profile>
        </mat-card-content>
        <!-- <mat-card-actions class="text-center" *ngIf="!profile">
          <button mat-raised-button color="primary" (click)="showProfile()">
            VER PERFIL
          </button>
          <button mat-raised-button color="accent" (click)="showEditProfile()">
            EDITAR PERFIL
          </button>
        </mat-card-actions> -->
      </mat-card>
    </div>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0,25,92,0.8)"
  color="#fff"
  type="ball-clip-rotate-multiple"
  zIndex="300"
>
  <p class="loading">Cargando perfil...</p>
</ngx-spinner>
