<section
  class="container mb-5 pb-5"
  [ngClass]="{
    'height-full': dataFound
  }"
>
  <div class="row justify-content-center align-items-center" *ngIf="dataFound">
    <div class="col-12">
      <div class="alert alert-warning text-center" role="alert">
        <i class="far fa-surprise font-60 text-center"></i> <br />
       Lo sentimos, no se pudo cargar información. <br/>
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let category of categories">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>{{ category.name }}</mat-card-title>
    </div>

    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-container
          *ngFor="let subcategory of category.subcategories; let i = index"
        >
          <ng-template carouselSlide [id]="subcategory.id">
            <img
              [alt]="subcategory.nameSubcategory"
              [defaultImage]="spinner"
              [lazyLoad]="subcategory.img"
              (click)="openDialog(subcategory)"
              class="img__subcategory"
            />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>

  <ngx-spinner
    bdColor="rgba(0,25,92,0.8)"
    color="#fff"
    type="ball-clip-rotate-multiple"
    zIndex="50"
  >
    <p class="loading">Cargando categorias...</p>
  </ngx-spinner>
</section>
