<!-- <app-list-store></app-list-store> -->

<div
  [ngStyle]="{ height: categories.length === 0 ? '100vh' : '' }"
  class="container-fluid p-4 bg-white rounded-lg shadow overflow-hidden mb-5"
>
  <app-spinner *ngIf="categories.length == 0" [spinner]="true"></app-spinner>
 
  <div class="row" *ngFor="let category of categories">
    <div class="col-12 mb-2 mt-2">
      <mat-card class="rounded-lg p-2 bg-purple">
        <h1 class="text-center separate">{{ category.name }}</h1>
      </mat-card>
    </div>

    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-container
          *ngFor="let subcategory of category.subcategories; let i = index"
        >
          <ng-template carouselSlide [id]="subcategory.id">
            <img
              [alt]="subcategory.nameSubcategory"
              [defaultImage]="spinner"
              [lazyLoad]="subcategory.img"
              (click)="openDialog(subcategory)"
              class="img__subcategory"
            />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
