<h1 mat-dialog-title>Falta poco!</h1>
<div mat-dialog-content>
  <strong>Completa los siguientes campos para enviar tu pedido</strong>
  <form [formGroup]="form" (ngSubmit)="doAction()">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>¿Alguna sugerencia?</mat-label>
      <textarea
        matInput
        formControlName="commentary"
        id="commentary"
      ></textarea>
    </mat-form-field>
    <mat-label>¿Deseas que tús precios sean visibles al comprador?</mat-label>
    <br />
    <mat-radio-group
      aria-label="Select an option"
      formControlName="visibilityPrice"
    >
      <mat-radio-button value="1">Si</mat-radio-button>
      <mat-radio-button value="0">No</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div mat-dialog-actions>
  <div class="row">
    <div class="col-12 col-lg-6">
      <button
        mat-button
        mat-raised-button
        (click)="doAction()"
        [disabled]="form.invalid"
        class="mb-2 bg-primary-color btn-block"
      >
        ENVIAR OFERTA
      </button>
    </div>
    <div class="col-12 col-lg-6">
      <button
        mat-button
        (click)="closeDialog()"
        class="btn-block"
        mat-flat-button
        color="warn"
      >
        CANCELAR
      </button>
    </div>
  </div>
</div>
