<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Registrate como vendedor</ng-template>
      <p>*Recibe contrataciones de tus productos.</p>
      <p>*Conoce los productos más demandados.</p>
      <p>*Date a conocer y vende más.</p>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Municipio*</mat-label>
        <mat-select formControlName="municipality" id="municipality">
          <mat-option
            *ngFor="let municipality of municipalities"
            [value]="municipality.id"
          >
            {{ municipality.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Nombre Negocio*</mat-label>
        <input
          matInput
          type="text"
          id="name"
          placeholder="Digite el nombre de su negocio"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Direccion del negocio*</mat-label>
        <input
          matInput
          type="text"
          id="domicile"
          placeholder="Digite su direccion de domicilio"
          formControlName="domicile"
        />
        <mat-icon matSuffix>bubble_chart</mat-icon>
      </mat-form-field>

      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Número celular de contacto*</mat-label>
        <input
          matInput
          type="number"
          id="phone"
          placeholder="Digite # celular"
          formControlName="phone"
        />
        <mat-icon matSuffix>bubble_chart</mat-icon>
      </mat-form-field>

      <p>
        Al continuar Aceptas que la aplicacion Pido y merco o alguien de la
        empresa se contacte por correo, telefono o mensaje, para dar informacion
        o establecer confirmaciones.
      </p>
      <div>
        <button mat-button matStepperNext class="bg-primary-color">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Que elijo vender, Mi Negocio</ng-template>
      <p>
        Puedes escoger entre varias categorias y decidir si realizas los envios
        y lo hacemos por ti, recuerda que aunque hay dificultad somos eficientes
        y entegamos antes de 24 Horas
      </p>
      <p><a download="terminos" href="assets/documents/terminos.docx">Conoce más Condiciones envios</a></p>
      <mat-form-field appearance="fill">
        <mat-label>Elije tus Categorias</mat-label>
        <mat-select
          formControlName="category"
          id="category"
          (selectionChange)="selectSubctagories($event.value)"
          multiple
        >
          <mat-optgroup
            *ngFor="let category of categories"
            [label]="category.name"
          >
            <mat-option
              *ngFor="let subcategory of category.subcategories"
              [value]="subcategory.id"
            >
              {{ subcategory.nameSubcategory }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <div *ngIf="subcategories.length != 0">
        <strong>Escogiste</strong>
        <p *ngFor="let subcategory of subcategories">
          <span class="font-weight-bold">{{ subcategory.nameSubcategory }}</span
          >: {{ subcategory.description }}
        </p>
      </div>
      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext class="bg-primary-color">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Te damos la Bienvenida</ng-template>
    <strong>*Paso requerido.</strong>
    <p>
      Esto se debe hacer para configurar la cuenta como vendedor y se aceptará o
      negara el acceso.
    </p>
    <p>*Acuerdos legales.</p>
    <p>*Foto Perfil.</p>
    <p>*Rut y/o camara de comercio.</p>
    <p>*Cedula de ciudadania.</p>
    <div>
      <button mat-button matStepperPrevious>Regresar</button>
      <button mat-button matStepperNext class="bg-primary-color">Siguiente</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="threeFormGroup">
    <form [formGroup]="threeFormGroup">
      <ng-template matStepLabel>Acuerdos legales</ng-template>

      <p><a download="acuerdo" href="assets/documents/acuerdos.docx">Descargar acuerdo legal</a></p>
     
      <div class="text-center">
        <mat-radio-group aria-label="Select an option" formControlName="accept">
          <mat-radio-button value="1">Acepto</mat-radio-button>
        </mat-radio-group>
      </div>

      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext class="bg-primary-color">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourFormGroup">
    <form [formGroup]="fourFormGroup">
      <ng-template matStepLabel>Foto de Perfil</ng-template>
      <p>
        *Toma al menos cinco (5) fotos del Negocio en diferentes angulos. Si
        tienes Logo puedes adjuntar la imagen o foto del mismo y escogerlo como
        foto de perfil.
      </p>
      <mat-form-field class="w-100" appearance="outline">
        <ngx-mat-file-input
          #removableInput
          formControlName="profile"
          placeholder="Subir Foto"
          valuePlaceholder="Seleccione las fotos al mismo tiempo"
          required
          accept="image/*"
          multiple
        ></ngx-mat-file-input>

        <button
          mat-icon-button
          matSuffix
          *ngIf="!removableInput.empty"
          (click)="removableInput.clear($event)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <p>
        Toma una foto legible del RUT donde se aprecien los 4 bordes y sea
        legible la informacion, si no, tienes camara de comercio no hay
        problema, pero te recomendamos que obtengas la misma, luego subela,
        estas seran revisadas y antes de 3 dias hábiles, te estaremos informando
        del proceso, de tener problemas podras subir los documentos de nuevo.
      </p>
      <mat-form-field class="w-100" appearance="outline">
        <ngx-mat-file-input
          #removableInput
          formControlName="archivoRut"
          placeholder="Subir RUT"
          valuePlaceholder="No he Seleccionado un archivo"
          required
        ></ngx-mat-file-input>

        <button
          mat-icon-button
          matSuffix
          *ngIf="!removableInput.empty"
          (click)="removableInput.clear($event)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <ngx-mat-file-input
          #removableInput
          formControlName="archivoComercio"
          placeholder="Subir Camara comercio"
          valuePlaceholder="No ha seleccion un archivo"
          accept="image/*,.pdf"
        ></ngx-mat-file-input>

        <button
          mat-icon-button
          matSuffix
          *ngIf="!removableInput.empty"
          (click)="removableInput.clear($event)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <p>
        Toma una foto legible de cedula, pasaporte o documento de identidad,
        donde se aprecie los 4 bordes y sea legible la informacion.
      </p>
      <mat-form-field class="w-100" appearance="outline">
        <ngx-mat-file-input
          #removableInput
          formControlName="archivoCedula"
          placeholder="Subir Cedula"
          valuePlaceholder="No ha seleccion un archivo"
          accept="image/*,.pdf"
        ></ngx-mat-file-input>

        <button
          mat-icon-button
          matSuffix
          *ngIf="!removableInput.empty"
          (click)="removableInput.clear($event)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Regresar</button>
        <button mat-button matStepperNext class="bg-primary-color">Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ultimo Paso</ng-template>
    <p>¿Deseas registrar tú negocio?.</p>
    <div>
      <button mat-raised-button color="primary" class="btn-block" (click)="sendDataBusiness($event)">
        REGISTRARSE
      </button>
    </div>
  </mat-step>
</mat-vertical-stepper>
