<div
  class="containermt-2 mb-5 pb-5 overflow-hidden"
  [ngClass]="{
    'height-full': dataFound
  }"
>
  <div class="row justify-content-center align-items-center" *ngIf="dataFound">
    <div class="col-12">
      <div class="alert alert-warning text-center" role="alert">
        <i class="far fa-surprise font-60 text-center"></i> <br />
        Lo sentimos, no hay ofertas que mostrar. <br />
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!dataFound">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Revisa tús ofertas!</mat-card-title>
    </div>
  </div>

  <div class="row p-2" *ngIf="!dataFound">
    <div
      class="col-12 col-md-6 col-lg-6"
      *ngFor="let offer of offers; let index = index"
    >
      <app-card-offer
        [url]="url"
        [offer]="offer"
        [index]="index"
      ></app-card-offer>
    </div>
  </div>

  <div class="row justify-content-center align-items-center" *ngIf="dataAccept">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        Aún no has aceptado ninguna oferta. <br />
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!dataAccept">
    <div class="col-12 mb-2 mt-2">
      <mat-card-title>Ofertas aceptadas!</mat-card-title>
    </div>
  </div>

  <div class="row p-2" *ngIf="!dataAccept">
    <div
      class="col-12 col-md-6 col-lg-6"
      *ngFor="let offer of offersAccept; let index = index"
    >
      <app-card-offer-accept
        [offer]="offer"
        [index]="index"
        [url]="url"
      ></app-card-offer-accept>
    </div>
  </div>

  <ngx-spinner
    bdColor="rgba(0,25,92,0.8)"
    color="#fff"
    type="ball-clip-rotate-multiple"
    zIndex="50"
  >
    <p class="loading">Cargando nuevas ofertas...</p>
  </ngx-spinner>
</div>
