/* You can add global styles to this file, and also import other style files */

:root {
  /*------ Colores */
  /*----Principales */
  --white-color: #fff;
  --black-color: #333;
  --primary-color: #00195c;
  --second-color: #253cc0;
  --third-color: #4a89dc;
  /* ------- Tipografia */
  --fuente-lato: 'Lato', sans-serif;
  --fuente-oswald: 'Oswald', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--fuente-oswald);
}

button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  /* Tamaño del scroll en vertical */
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.font-28 {
  font-size: 28px !important;
}

.font-14 {
  font-size: 14px !important;
}

.color-highlight {
  color: #4a89dc !important;
}

.bg-third-color {
  background-color: var(--second-color);
  color: var(--white-color)
}

.bg-primary-color {
  background-color: var(--primary-color);
  color: var(--white-color)
}

.font-blue-dark {
  color: var(--third-color);
}

.loading{
  color: white;
  padding-top: 50px;
}

