/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  /* Tamaño del scroll en vertical */
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

.font-28 {
  font-size: 28px !important;
}

.font-14 {
  font-size: 14px !important;
}

.color-highlight {
  color: #4a89dc !important;
}

.bg-purple {
  background-color: #8752c1;
  color: white;
}

.bg-green1-dark {
  background-color: #8cc152;
  color: #ffffff;
}

.loading{
  color: white;
  padding-top: 50px;
}

